<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      @for(member of members; track member) {
        <li>{{member}}</li>        
      }
    </ul>
    <div class="add-members-container">
      <input 
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName">
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numberOfTeamsInput
        type="number"
        placeholder="# of teams"
        (input)="onTeamsNumberInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams">
      <button (click)="generateTeams()">Generate</button>
    </div>
    @if(errorMessage){
      <p class="error-msg">{{ errorMessage }}</p>
    }
  </div>
  @if(teams.length){
    @for(team of teams; track team; let index = $index){
      <app-team
        [team]="team"
        [index]="index"></app-team>
    }
  }
</div>